<?xml version="1.0"?>
<configuration>
  <connectionStrings>
      <add name="ConnectionStringNieuws" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\hans.vanbroeckhoven\Documents\GitHub\italia-website\Italia_1112\App_Data\DatabaseItalië.mdf;Integrated Security=True;User Instance=True"/>
      <add name="ConnectionStringDatabaseItalië" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\hans.vanbroeckhoven\Documents\GitHub\italia-website\Italia_1112\App_Data\DatabaseItalië.mdf;Integrated Security=True;User Instance=True"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
	<customErrors mode="Off"/>
  </system.web>

</configuration>