@model IEnumerable<ItalieNieuw.Models.DailyReport>
@{
    ViewBag.Title = "Dagverslagen";
}

@foreach (var item in Model)
{
    <h2>@item.Date.ToShortDateString()</h2>
    <div>@Html.Raw(item.Report)</div>
}
