@model ItalieNieuw.Models.DailyReports
@{
    ViewBag.Title = "Dagverslagen";
}



<div>
@foreach (var item in (List<ItalieNieuw.Models.DailyReports>)ViewData["DailyReports"])
{
    
    @item.Title @Html.Raw(" ") @item.Date
}
</div>