@model IEnumerable<System.Linq.IGrouping<System.DateTime, ItalieNieuw.Models.Picture>>

@{ViewBag.Title = "Foto's";}

<h1>fotos</h1>

@foreach (var fotogroup in Model)
{
    <h2>@fotogroup.Key.Date.ToShortDateString()</h2>
    foreach (var foto in fotogroup)
    {
        @Html.Partial("_Picture", foto)
    }
}
