@model IList<ItalieNieuw.Models.Reaction>
@{
    ViewBag.Title = "Gastenboek";
}

@Html.Partial("_GastenboekEntryCreate", new ItalieNieuw.Models.Reaction())

<div id="gastenboek">
@foreach (var item in Model)
{
    <div class="gastenboekentry">
        <div class="gastenboekentry_hoofding">
            <span class="naam">@item.Name</span>
            <span class="datum">@item.Date</span>
        </div>
        <div class="gastenboekentry_bericht">@item.Message</div>
    </div>
}
</div>
