@{
    ViewBag.Title = "Programma";
}
@* Google Map *@
<head> 
    <title></title>
  <script 
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwR00spLnTnri0jSsHcHtOtuoCL3gsmok&sensor=true"
          type="text/javascript"></script>
</head> 
    

  

@* Oude Map *@

<br />
<img id="MainContent_imgMap" class="map" src="~/Images/map_2014.jpg">

<table id="tblReisschema">
            <tbody><tr>
                <td>
                Zondag 30 maart
                </td>      
                <td>
                  
                <b>Vertrek naar Italië</b>
                <br>
                Verzamelen aan de Notelaar om 23:30u.
               
                   
                </td> 

            </tr>
            <tr>
                 
                <td>
                    
                Maandag 31 Maart
                </td>
                <td>
                    
                <b>De reis</b>
                <br>
             Vertrek om 00:00u.
                <br>
                Ontbijten in <b>Zwitserland</b>.
                <br>
                Busreis naar de Middellandse Zee.
                 
                </td>
             </tr>
             <tr>
                <td>
                    <br />
                Dinsdag 1 April
                </td>
                <td>
                 Voormiddag <b>Pisa</b> bezoeken.
                <br>
                Namiddag wandeling in <b>Firenze</b>.
                   
                    
                </td>
             </tr>
                <tr>
                <td>
                    <br />
                Woensdag 2 April
                </td>
                   
                <td>
                    <b>Firenze</b>
                <br>
                Voormiddag musea bezoeken.
                <br>
                Namiddag vrije winkelnamiddag.
                   
                   
                </td>
             </tr>
             <tr>
                <td>
                    <br />
                Donderdag 3 April
                </td>
                <td>
                    
                <b>Assisi</b>
                <br>
                Avondmaal in <b>Rome</b>
                  
                    
                </td>
             </tr>
             <tr>
                <td>
                    <br />
                Vrijdag 4 April
                </td>
                <td>
                    
                <b>Vaticaan</b>
                <br>
                Voormiddag Sint-Pietersplein en koepel bekijken.
                <br>
                Namiddag Vaticaans Museum <br> en stadrally doorheen Rome naar het restaurant.
                     
                           
                </td>
             </tr>
             <tr>
                <td>
                    <br />
                Zaterdag 5 April
                </td>
                <td>
                   
                <b>Oud Rome</b>
                <br>
                Voormiddag de thermen en het circus bezoeken.
                <br>
                Namiddag de foro bezoeken.
                <br>
                Om 16u naar de Colloseo.
                  
                
                </td>
             </tr>
             <tr>
                <td>
                    <br />
                Zondag 6 April
                </td>
                <td>
                Voormiddag in <b>Ostia Antica</b>.
                <br>
                Namiddag naar het strand.
                <br>
                Overnachten in <b>Chianciano</b>.
                  
                 
                </td>
             </tr>
             <tr>
                <td>
                    <br />
                Maandag 7 April
                </td>
                <td>Busreis met middagstop in <b>Siena</b>.
                <br>
                Overnachting in <b>Lido Di Jesolo</b>.  
                    
                           
                </td>
             </tr>
             <tr>
                <td>
                    <br />
                Dinsdag 8 April
                </td>
                <td>
                <b><br />Venetië</b>
                   
                  
                <br>
                </td>
             </tr>
        </tbody></table>
      
   