@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>Administratie-functies</h1>
    <ul>
        <li>@Html.ActionLink("Foto's", "Pictures")</li>
        <li>@Html.ActionLink("Dagverslagen bewerken", "Index", "DailyReport")</li>
        <li>@Html.ActionLink("Gastenboek bewerken", "Index", "Reaction")</li>
    </ul>
    </div>
</body>
</html>
