@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>Administratie-functies</h1>
    <ul>
        <li>@Html.ActionLink("Foto's uploaden", "Pictures")</li>
        <li>Dagverslagen bewerken</li>
        <li>Gastenboek bewerken</li>
    </ul>
    </div>
</body>
</html>
