@model IList<ItalieNieuw.Models.Picture>
@{
    ViewBag.Title = "Pictures (Administrator)";
}

<h2>Upload picture</h2>

@using (Html.BeginForm("UploadPicture", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}

<h2>Pictures</h2>

<style>
    .uploadedpicture {
        /* hier wordt uitgegaan van een ratio 1.333 wat vaak voorkomt (b.v. 1024/768) 
           makkelijker is max-width: 100% te gebruiken, dan wordt de ratio behouden en maximale ruimte gebruikt
        */
        width: 266px;
        height: 200px;
    }
    .pictureinfobox {
        width: 300px;
        margin: 5px 10px;
        float: left;
    }
        .pictureinfobox label {
            width: 100px;
        }

        .pictureinfobox textarea {
            width: 266px;
        }

</style>

@foreach (var pic in Model)
{
    @Html.Partial("_PictureInfo", pic)
}
