@using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}

@using (Html.BeginForm("UploadMultipleFiles", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="files[]" multiple />
    <input type="submit" value="OK" />
}

<style>
    .uploadedpicture {
        width:200px;
        height:200px;
    }
</style>

<h3>Onze Foto's:</h3>

@foreach(var jpg in ViewBag.jpgFiles) {
    <img src="@jpg" class="uploadedpicture" />
}

    

