@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}

<h3>Onze Foto's:</h3>
<ol class="round">
    <li>
       
    </li>

    
</ol>
