<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Italia_1213.My.MySettings.ItaliaConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\ewoud.vanlooy\AppData\Local\Apps\2.0\TR2N5LB7.V27\4ZPHW3PG.J72\gith..tion_8f45a2159c87c850_0001.0000_f67358978db19780\imma-fs-0001\ewoud.vanlooy$\documents\GitHub\italia-website\Italia_1213\Italia_1213\App_Data\DatabaseItalië.mdf;Integrated Security=True;User Instance=True"
            providerName="" />
        <add name="ItaliaConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DatabaseItalië.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

</configuration>
